.md-typeset .md-typeset__table {
  display: block;
  width: 100%;
}

.md-typeset .md-typeset__table > table {
  width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}
